---

import Link from "./general/Link.astro";
---
<nav class="fixed top-6 left-1/2 -translate-x-1/2 w-[90%] max-w-7xl flex items-center justify-between z-50">

    <div class="font-bold text-2xl tracking-wide">
        <!--Steven<span class="text-cyan-400">Lie</span>-->
    </div>

    <div class="bg-white/10 backdrop-blur-md border border-white/20
              rounded-full px-6 py-3 flex items-center gap-6 shadow-lg">
        <ul class="flex items-center gap-6 text-sm font-medium">
            <li><Link text="Home" href="#home"></Link></li>
            <li><Link text="Skills" href="#skills"></Link></li>
            <li><Link text="Experience" href="#experience"></Link></li>
            <li><Link text="Connect" href="#connect"></Link></li>
        </ul>
    </div>
</nav>



